@import "//fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,300italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic";
@import "//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,cyrillic";
@import "//fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic";

@font-face {
  .embed-font('league_spartanregular', 'leaguespartan-bold');
}

@defaultFont: 'Open Sans', sans-serif;
@titleFont: 'Open Sans Condensed', 'Open Sans', sans-serif;
@leagueFont: 'league_spartanregular', 'Open Sans', sans-serif;
@droidSerif: 'Droid Serif', 'Open Sans', sans-serif;