﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<h1>Trend Simple Slider partiak view</h1>
	
<section class="section slider preload-hidden">
    <div id="jx-slider-2"></div>
</section>


@*<div>

    @if (Model.Content.HasValue("imagePiker"))
    {
        var heroBannerList = Model.Content.GetPropertyValue<string>("imagePiker").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
        var heroBannerCollection = Umbraco.TypedMedia(heroBannerList).Where(x => x != null);
        foreach (var heroBanner in heroBannerCollection)
        {
            <img src="@heroBanner.Url" style="width:200px;height:200px;" alt="@heroBanner.Name" />
        }
    }


</div>*@