﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var polls = Model.Content.Descendants("poll").Where("Visible").FirstOrDefault();
}


<section class="section slider compact preload-hidden">
    <div id="jx-slider-3"></div>
    <div class="widget">
        <div class="content">

            <p>
                Steeds meer mensen hebben steeds meer verschillende pensioenpotjes. De kans is ook groot dat je tussen die potjes ‘onderbrekingen’ hebt; periodes dat je geen pensioen hebt opgebouwd.
            </p>
            <div class="widget-intreaction">

                @{

                    if (polls != null)
                    {
                        if (HttpContext.Current.Request.Cookies["vote"] == null)
                        {
                            Html.RenderPartial("Poll", polls);
                        }
                        
                    }
                }


            </div>
        </div>
    </div>
</section>



