﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


<section class="section text preload-hidden">
    <div class="content">
        <h2>
            EEN BAAN VOOR HET <span>LEVEN IS VERANDERD IN</span> Leven vol met banen
        </h2>
        <p>
            Een baan voor het leven is veranderd in een leven vol banen. We switchen makkelijk van baan, maar ook van sector. Soms zitten we zelfs even zonder werk en we beginnen steeds vaker als zelfstandige.
        </p>
    </div>
</section>
<section class="section text faded skew-inversed preload-hidden">
    <div class="content">

        @{ var selection = Model.Content.Children.Where("Visible");

         foreach (var item in selection)
         {

            <div class='uk-table @((bool)item.GetPropertyValue("leftRight") ? "uk-text-right" : "uk-text-left") '>
                <div>

                    @item.GetPropertyValue("text")

                </div>
                <div><img src="@Umbraco.Media(item.GetPropertyValue("image")).Url" alt="@item.Name" title="@item.Name"></div>
            </div>
         }
        }

    </div>
</section>