﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "Master.cshtml";
}

<div>

    @{
        var selection = Model.Content.Descendants("trend").Where("Visible").FirstOrDefault();

        if (selection != null)
        {

            Response.Redirect(selection.Url,true);
        }
    }
</div>



    @*<section class="section slider preload-hidden">
        <div id="jx-slider-1"></div>
    </section>
    <section class="section slider preload-hidden">
        <div id="jx-slider-2"></div>
    </section>
    <section class="section text preload-hidden">
        <div class="content">
            <h2>
                EEN BAAN VOOR HET <span>LEVEN IS VERANDERD IN</span> Leven vol met banen
            </h2>
            <p>
                Een baan voor het leven is veranderd in een leven vol banen. We switchen makkelijk van baan, maar ook van sector. Soms zitten we zelfs even zonder werk en we beginnen steeds vaker als zelfstandige.
            </p>
        </div>
    </section>
    <section class="section text faded skew-inversed preload-hidden">
        <div class="content">
            <div class="uk-table uk-text-right">
                <div>
                    <h3 class="counter">35</h3>
                    <p>
                        procent van de mensen tussen de 25 en 35 jaar bouwt bij meer dan twee fondsen pensioen.
                    </p>
                </div>
                <div>@Umbraco.Media(1029).Url<img src="@Umbraco.Media(1143).Url" alt="35" title="35"></div>
            </div>
            <div class="uk-table uk-text-left">
                <div>
                    <h3 class="counter">15</h3>
                    <p>
                        procent van de mensen tussen de 25 en 35 jaar werkt als ZZP’er.
                    </p>
                </div>
                <div><img src="@Umbraco.Media(1141).Url" alt="15" title="35"></div>
            </div>
        </div>
    </section>
    <section class="section slider compact preload-hidden">
        <div id="jx-slider-3"></div>
        <div class="widget">
            <div class="content">
                <p>
                    Steeds meer mensen hebben steeds meer verschillende pensioenpotjes. De kans is ook groot dat je tussen die potjes ‘onderbrekingen’ hebt; periodes dat je geen pensioen hebt opgebouwd.
                </p>
                <div class="widget-intreaction">
                    <form class="uk-form">
                        <h4>Hoeveel % van de beroepsbevolking denk je dat zzp’er is?</h4>
                        <p>Selecteer hieronder uw antwoord</p>
                        <div class="uk-form-row">
                            <input type="radio" name="vote" id="vote_5">
                            <label for="vote_5">5%</label>
                        </div>
                        <div class="uk-form-row">
                            <input type="radio" name="vote" id="vote_10">
                            <label for="vote_10">10%</label>
                        </div>
                        <div class="uk-form-row">
                            <input type="radio" name="vote" id="vote_15">
                            <label for="vote_15">15%</label>
                        </div>
                        <div class="uk-form-row">
                            <input type="submit" value="Stem" class="uk-button uk-button-primary uk-button-large">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section slider preload-hidden">
        <div class="uk-grid">
            <div class="uk-width-1-5">
                <div class="uk-table">
                    <div class="uk-cell">
                        <div class="content">
                            <h2>
                                GOED OM
                                <span>TE WETEN</span>
                            </h2>
                            <p>Je werkt 1 dag voor je pensioen</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="uk-width-3-5">
                <div id="jx-slider-4"></div>
            </div>
            <div class="uk-width-1-5">
                <div class="uk-table">
                    <div class="uk-cell">
                        <div class="content">
                            <h2>
                                GOED OM
                                <span>TE DOEN</span>
                            </h2>
                            <p>
                                Check jouw verschillende pensioenpotjes op
                                <a href="http://mijnpensioenoverzicht.nl">mijnpensioenoverzicht.nl</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section clean partial widgets preload-hidden">
        <div class="title">
            <h2>
                Leef je van dag tot dag
                <span>Of kijk je verder vooruit?</span>
            </h2>
        </div>
        <div class="uk-grid">
            <div class="uk-width-1-3 skew fb">
                <div class="content">
                    <p>
                        Blijf op de hoogte <br>via Facebook.
                    </p>

                    <div class="uk-text-center">
                        <img src="@Umbraco.Media(1133).Url" alt="Facebook" title="Facebook">
                        <br>
                        <a href="#" class="uk-button uk-button-primary uk-button-large">Naar facebookpagina</a>
                    </div>

                </div>
            </div>
            <div class="uk-width-1-3 skew subscribe">
                <div class="content">
                    <p>
                        Op mijnpensioenoverzicht.nl kun je snel <br>en simpel checken hoe jij ervoor staat.
                    </p>
                    <div class="uk-text-center">
                        <img src="@Umbraco.Media(1137).Url" alt="mijnpensioenoverzicht.nl" title="mijnpensioenoverzicht.nl">
                        <br>
                        <a href="http://mijnpensioenoverzicht.nl" class="uk-button uk-button-default uk-button-large">
                            <span>mijn</span>pensioenoverzicht.nl
                        </a>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-3 skew contact">
                <div class="content">
                    <form class="uk-form">
                        <p>
                            Schrijf je in voor <br>
                            De Tijd van Je Leven nieuwsbrief.
                        </p>
                        <div class="uk-form-row">
                            <input type="text" name="email" placeholder="Uw voor en achternaam">
                        </div>
                        <div class="uk-form-row">
                            <input type="password" name="email" placeholder="Uw emailadres@voorbeeld.iets">
                        </div>
                        <div class="uk-form-row">
                            <input type="submit" class="uk-button uk-button-primary uk-button-large" value="aanmelden">
                        </div>
                    </form>
                    <img src="@Umbraco.Media(1138).Url" class="hover-view">
                </div>
            </div>
        </div>
    </section>
    <section class="section slider partial clean preload-hidden">
        <div class="title">
            <h2>
                WETEN WAT NOG MEER invloed heeft
                <span>OP JE PENSIOEN? bekijk dan ook</span>
            </h2>
        </div>
        <div class="content">
            <div id="jx-slider-5"></div>
            <div id="jx-slider-6"></div>
        </div>
    </section>
    <div class="page-loading">&nbsp;</div>*@

