﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using System.Web.Optimization


@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <title>@CurrentPage.Name</title>
    <meta charset="utf-8">
    <meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    @*<link rel="stylesheet" href="css/app.css">*@
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script>
        var siteurl = '@Request.Url.GetLeftPart(UriPartial.Authority)';
    </script>


</head>
<body>
    <div>
        Main Menu
        @{Html.RenderPartial("NavMenu");}
    </div>

    @RenderBody()


    

@Styles.Render("~/bundles/css")
@Scripts.Render("~/bundles/scripts")


    <script data-main="@Request.Url.GetLeftPart(UriPartial.Authority)/src/js/app" src="~/vendor/requirejs/require.js"></script>
   
</body>
</html>



