﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
@{ var selection = Model.Content.Children.Where("Visible"); }

<h1>@CurrentPage.colorSpectrum</h1>
<section class="section slider preload-hidden">
    <div id="jx-slider-1"></div>
</section>

@foreach (var item in selection)
{
    switch (item.DocumentTypeAlias)
    {
        case "pollPage":
            Html.RenderPartial("Trend Poll", item);
            break;
        case "counterAndText":
            Html.RenderPartial("Trend Counter", item);
            break;
        case "randomSlider":
            Html.RenderPartial("Trend Random Slider", item);
            break;
        case "simpleSlider":
            Html.RenderPartial("Trend Simple Slider", item);
            break;
        case "subscriptionPage":
            Html.RenderPartial("Trend Subscription", item);
            break;
        default:

            break;
    }
}
<div class="page-loading">&nbsp;</div>






