.background-image(@img) {
  background-image: url('@{storage}@{img}');
}

.embed-font(@fontFamily, @fontFile) {
  font-family: @fontFamily;
  src: url('@{fontStorage}@{fontFile}.eot');
  src: url('@{fontStorage}@{fontFile}.eot?#iefix') format('embedded-opentype'),
       url('@{fontStorage}@{fontFile}.woff2') format('woff2'),
       url('@{fontStorage}@{fontFile}.woff') format('woff'),
       url('@{fontStorage}@{fontFile}.ttf') format('truetype'),
       url('@{fontStorage}@{fontFile}.svg#@{fontFamily}') format('svg');
  font-weight: normal;
  font-style: normal;
}

._border-radius(@radius) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
        -ms-border-radius: @radius;
         -o-border-radius: @radius;
            border-radius: @radius;
}

._box-shadow(@shadow) {
    -webkit-box-shadow: @shadow;
       -moz-box-shadow: @shadow;
        -ms-box-shadow: @shadow;
         -o-box-shadow: @shadow;
            box-shadow: @shadow;
}

.transition(@type, @duration, @mode) {
    -webkit-transition: @type @duration @mode;
       -moz-transition: @type @duration @mode;
        -ms-transition: @type @duration @mode;
         -o-transition: @type @duration @mode;
            transition: @type @duration @mode;
}

.transitionReset() {
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}

.transform(@transform) {
  -webkit-transform: @transform;
     -moz-transform: @transform;
      -ms-transform: @transform;
       -o-transform: @transform;
          transform: @transform;
}

.transform-origin(@transformOrigin) {
  -webkit-transform-origin: @transformOrigin;
     -moz-transform-origin: @transformOrigin;
      -ms-transform-origin: @transformOrigin;
       -o-transform-origin: @transformOrigin;
          transform-origin: @transformOrigin;
}

._border-radius(@radius, @radiusrem) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
        -ms-border-radius: @radius;
         -o-border-radius: @radius;
            border-radius: @radius;

    -webkit-border-radius: @radiusrem;
       -moz-border-radius: @radiusrem;
        -ms-border-radius: @radiusrem;
         -o-border-radius: @radiusrem;
            border-radius: @radiusrem;            
}

._box-shadow(@shadow) {
    -webkit-box-shadow: @shadow;
       -moz-box-shadow: @shadow;
        -ms-box-shadow: @shadow;
         -o-box-shadow: @shadow;
            box-shadow: @shadow;
}

.clearFix() {
  width: 0 !important;
  height: 0 !important;
  display: block !important;
  overflow: hidden !important;
  float: none !important;
  clear: both !important;
  content: " ";
  font-size: 0 !important;
  line-height: 0 !important;
}

._filter(@filter, @param, @ieFilter, @ieParam, @svgVariable) {
  @{svgVariable}: ~"@{param}";
  filter: ~"url('../filters/filters.svg#@{filter}')";

  -webkit-filter: ~"@{filter}(@{param}px)";
     -moz-filter: ~"@{filter}(@{param}px)";
      -ms-filter: ~"@{filter}(@{param}px)";
       -o-filter: ~"@{filter}(@{param}px)";
          filter: ~"@{filter}(@{param}px)";

  filter:~"progid:DXImageTransform.Microsoft.@{ieFilter}(@{ieParam}='@{param}')";
}

.text-overflow() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.word-wrap() {
  overflow-wrap: break-word;
      word-wrap: break-word;
      
  -ms-word-break: break-all;
      word-break: break-word;
       
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}